<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>What Todo</title>
    <link rel="stylesheet" type="text/css" href="css/login-Signup-Page.css">
</head>
<body th:align="center" style="background-color: #03001C;">
<div id="page-width">
    <!-- 로고 -->
    <section>
        <p id="What-Todo-logo">What Todo</p>
    </section>

    <!-- 아이디 비밀번호 입력칸 -->
    <section class="id-and-password-input">
        <div>
            <label>
                <input type="text" placeholder="아이디">
            </label>
        </div>
        <div>
            <label>
                <input type="password" placeholder="비밀번호">
            </label>
        </div>
        <div>
            <button id="id-and-password-submit">로그인</button>
        </div>
    </section>

    <!-- 아이디/비밀번호 찾기 & 회원가입 -->
    <section class="id-and-password-find-btn">
        <button>아이디/비밀번호 찾기</button>
        <button>회원가입</button>
    </section>

    <!-- 소셜 로그인 -->
    <section class="social-icon">
        <div id="kakao-icon">
            <img src="https://user-images.githubusercontent.com/90389517/220653458-3695d61f-d795-4afe-be44-3bf21b08d3bf.png">
        </div>
        <div id="naver-icon">
            <img src="https://user-images.githubusercontent.com/90389517/220658326-89dbbb9e-6041-44e4-b3bd-4c93515af6d5.png">
        </div>
        <div id="google-icon">
            <img src="https://user-images.githubusercontent.com/90389517/222617036-bd9d0558-cd4f-4a48-b267-1ba6f16aa645.png">
        </div>
    </section>
</div>
</body>
</html>