<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>What Todo</title>
    <link rel="stylesheet" type="text/css" href="css/loginPage.css">
</head>
<body th:align="center" style="background-color: #03001C;">
<div id="login-page-width">
    <!-- 로고 -->
    <section>
        <p id="What-Todo-logo">What Todo</p>
    </section>

    <!-- 아이디 비밀번호 입력칸 -->
    <section>
        <div>
            <label>
                <input type="text" class="id-and-password-input" placeholder="아이디">
            </label>
        </div>
        <div>
            <label>
                <input type="password" class="id-and-password-input" placeholder="비밀번호">
            </label>
        </div>
        <div>
            <button id="id-and-password-submit">로그인</button>
        </div>
    </section>
</div>
</body>
</html>