.App {
  text-align: center;
}

.App-header {
  background-color: #03001C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Logo {
  margin: 0 !important;

  font-size: 3rem;
  font-weight: 900;

  background: linear-gradient(#5B8FB9, #B6EADA);
  color: transparent;
  -webkit-background-clip: text;
}